# Python
__pycache__/
*.py[cod]
*.egg-info/
.git

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
,ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML artifacts
*.pt
*.pth
*.onnx
*.pt

# Data
data/raw/
data/processed/
data/
runs/

# Logs
*.log
logs/

# Test / converage
.pytest_cache/
.converage
htmlcov/

# Photo
test_result.jpg
output.jpg
*.jpg
*.png

!docs/assets/*
